# Ignore object files everywhere
**/*.o

# Ignore default output names
**/a.out
**/*.out

# Ignore debug symbols, core dumps, etc.
**/core
**/*.dSYM/

# Allow source and header files everywhere
!**/*.c
!**/*.h

# Ignore files with no extensions (typical GCC executables)
**/*
!**/*.*       # keep files with extensions